@media (max-width: 1440px) {

    body {
        height: auto;
        align-items: flex-start;
        padding: 20px 0;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}
