body {
    display: flex;
    font-family: "fonte", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}


/* Card de cada imagem */
.card {
    position: relative;
    width: 260px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}

/* Imagem */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto sobre a imagem */
.card .info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.card .info h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.card .info span {
    font-size: 0.9rem;
    opacity: 0.8;
}